body{
    background-color: #ecb1b1;
    color:#555555;
}

.wrap{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 600px;
    height: 500px;
    padding:24px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 16px #e78b8b;
}

.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding:24px;
    box-shadow: 0 4px 21px 6px #ececec9e;
    box-sizing: border-box;
}

.header h2{
    font-size: 30px;
    margin-bottom: 12px;
}
.todo_form{
    display: flex;
    justify-content: space-between;
}
.todo_input{
    font-size: 16px;
    border-radius: 5px;
    background-color: #eee;
    border:none;
    padding:13px 10px;
    width:80%;
}

.todo_submit_button{
    width:80px;
    border-radius: 5px;
    background-color:#98c1f7;
    border:none;
    cursor: pointer;
}

.todo_submit_button .fa-plus{
    color:#fff;
    font-size: 20px;
}

.todo_input:focus{
    border-color: #fff;
}

.todos{
    margin-top: 125px;
    margin-bottom: 25px;
    overflow: auto;
}

.content{
    width: 100%;
    max-width: calc(100% - 135px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 0;
    border-bottom: 1px solid #f2f2f2;
}

.content > input[type='checkbox']{
    transform: scale(1.5);
    margin-left: 10px;
}

.content > label{
    font-size: 16px;
    margin-left: 20px;
    padding-top: 4px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
}

.content > input[type='text']{
    font-size: 16px;
    margin-left: 20px;
    padding-top: 4px;
    padding-left: 0;
    width: 100%;
}

.item_buttons{
    flex-shrink: 0;
}

.item_buttons > button{
    width: 42px;
    height: 42px;
    color:#555555;
    font-size: 14px;
    border-radius: 8px;
    border:none;
    cursor: pointer;
}

.item_buttons > button.todo_edit_button{
    background-color: #bad4f5;
    margin-right: 5px;
}

.item_buttons > button.todo_recommend_button.active{
    background-color: rgb(255, 238, 85);
}

.item_buttons > button.todo_recommend_button.active .far{
    display: none;
}


.item_buttons > button.todo_recommend_button .fas{
    display: none;
}

.item_buttons > button.todo_recommend_button.active .fas{
    display: block;
}

.todo_checkbox{
    appearance: auto !important;
}

.item input[type='text']{
    display: none;
}

.edit_buttons{
    display: none;
}

.pagination{
    position: absolute;
    left: 50%;
    bottom: 25px;
    transform: translateX(-50%);
    display: flex;
}